<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background">
  <div class="container pt-5 pb-4">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 id="main-text" class="display-4 mb-4"> <%= t("landing.welcome").html_safe %></h1>
        <!--<p class="lead offset-lg-2 col-lg-8 col-sm-12 "><%= t("landing.about", href: link_to(t("greenlight"), "https://bigbluebutton.org/2018/07/09/greenlight-2-0/", target: "_blank", rel: "noopener")).html_safe %></p>-->
        <%= link_to "https://youtu.be/Hso8yLzkqj8", target: "_blank" do %>
          <h4><%= t("landing.video") %> <i class="far fa-play-circle ml-1"></i></h4>
        <% end %>
      </div>
    </div>
  </div>
</div>

<p>&nbsp;</p>

<% if @activeconferences.count > 0 %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Upcoming Events</h2>
      </div>
    </div>
    <div class="row">
    <% @activeconferences.each do |event| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-img-top" style="height: 125px; background-image: url('<%= event.image %>'); background-size: cover; background-position: center;" alt="<%= event.name %>"></div>
            <div class="card-body">
              <h5 class="card-title"><%= event.name %></h5>
              <% if event.start_date %>       
                <h6><%= event.start_date %> - <%= event.end_date %></h6>
              <% end %>
              <hr />
              <p class="card-text"><%= event.description.gsub(/\n/, '<br />').html_safe %></p>
              <a href="/b/register/<%= event.slug %>" class="btn btn-primary">Register for <%= event.name %></a>
            </div>
          </div>
        </div>
      <!--</div>-->
    <% end %>
    </div>
  </div>
<% end %>
<!-- <%= render "main/components/features" %> -->
