<div class="sessions pb-5">
  <div class="container pt-6">

    <div class="row">
        <div class="col-12">
            <h1>Event Administration for <%= @event.name %></h1>
            <% if @event.start_date %>       
                <h6><%= @event.start_date %> - <%= @event.end_date %></h6>
            <% end %>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <h3>Total Registrants: <%= @registrants.count %></h3>

            <% if @saved == true %>
                <div class="alert alert-success" role="alert">Event information has been updated.</div>
            <% end %>

            <form method="post">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <div class="form-group">
                    <label for="roomslot">Event Information</label>
                    <textarea class="form-control" id="info" name="info"><% if @event.info %><%= @event.info %><% end %></textarea>
                    <p>When set, this information is made available to attendees.</p>
                    <input type="submit" class="form-input btn btn-success" value="Save Info" />
                </div>
            </form>

            <% if @event.slug != 'escape2020' %>
                <% if @event.slug != 'kdab2020' %>
                <h3>Country</h3>
                <table class="table table-hover">
                    <% @countries.sort_by {|k, v| -v}.each do |key, count| %>
                        <tr><td><%= key.gsub(/\"*\]*\[*/, '') %></td><td><%= count %></td></tr>
                    <% end %>
                </table>
                <% end %>

                <h3>Role</h3>
                <table class="table table-hover">
                <% @roles.sort_by {|k, v| -v}.each do |key, count| %>
                    <tr><td><%= key.gsub(/\"*\]*\[*/, '') %></td><td><%= count %></td></tr>
                <% end %>
                </table>

                <h3>Pronoun</h3>
                <table class="table table-hover">
                <% @pronouns.sort_by {|k, v| -v}.each do |key, count| %>
                    <tr><td><%= key.gsub(/\"*\]*\[*\\*/, '') %></td><td><%= count %></td></tr>
                <% end %>
                </table>
            <% end %>

            <h3>Registrants</h3>
            <table class="table table-hover">
                <tr><th>Name</th><th>Email</th><% if @event.slug == 'kdab2020' %><th>Company</th><th>Country</th><% end %><% if @event.slug == 'escape2020' %><th>Timeslot</th><% end %><% if @event.slug == 'akademy2020' %><th>Photo Consent</th><th>Photo Name</th><th>Photo Number</th><% end %></tr>
                <% @registrants.each do |person| %>
                  <tr>
                    <td><%= person[:name].gsub(/\"*\]*\[*/, '') %></td>
                    <td><%= person[:email] %></td>
                    <% if @event.slug == 'kdab2020' %>
                      <td><%= person[:company].gsub(/\"*\]*\[*/, '') %></td>
                      <td><%= person[:country].gsub(/\"*\]*\[*/, '') %></td>
                    <% end %>
                    <% if @event.slug == 'escape2020' %>
                      <td><%= person[:roomslot] %></td>
                    <% end %>
                    <% if @event.slug == 'akademy2020' %>
                      <td><%= person[:photoconsent] %></td>
                      <td><%= person[:photoname] %></td>
                      <td><%= person[:photonumber] %></td>
                    <% end %>
                  </tr>
                <% end %>
            </table>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="<%= @event.image %>" alt="<%= @event.name %>" />
                <div class="card-body">
                    <h1><%= @event.name %></h1>
                    <p><%= @event.description %></p>
                </div>
            </div>
        </div>
    </div>

  </div>
</div>
