<div class="sessions pb-5">
  <div class="container pt-6">

    <div class="row">
        <div class="col-12">
            <h1>Registration for <%= @event.name %></h1>
            <% if @event.start_date %>       
              <h6><%= @event.start_date %> - <%= @event.end_date %></h6>
            <% end %>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <form method="post">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <% if @event.slug == 'escape2020' %>
                  <div class="form-group">
                    <label for="roomslot">Timeslot</label>
                    <select class="form-control" id="roomslot" name="roomslot">
                      <option name="Mon 7th - Session 1 - 06:30-08:30 UTC - Mansion Impossible (Low/Med. Difficulty)"<% if @registration && @registration.roomslot && @registration.roomslot =='Mon 7th - Session 1 - 06:30-08:30 UTC - Mansion Impossible (Low/Med. Difficulty)'%> selected<% end %>>Mon 7th - Session 1 - 06:30-08:30 UTC - Mansion Impossible (Low/Med. Difficulty)</option>
                      <option name="Mon 7th - Session 2 - 20:30-22:30 UTC - CSI: Grounded (Medium-High Difficulty)"<% if @registration && @registration.roomslot && @registration.roomslot =='Mon 7th - Session 2 - 20:30-22:30 UTC - CSI: Grounded (Medium-High Difficulty)'%> selected<% end %>>Mon 7th - Session 2 - 20:30-22:30 UTC - CSI: Grounded (Medium-High Difficulty)</option>
                      <option name="Tues 8th - Session 1 - 06:30-08:30 UTC - Mainstage Mayhem (Low/Med. Difficulty)"<% if @registration && @registration.roomslot && @registration.roomslot =='Tues 8th - Session 1 - 06:30-08:30 UTC - Mainstage Mayhem (Low/Med. Difficulty)'%> selected<% end %>>Tues 8th - Session 1 - 06:30-08:30 UTC - Mainstage Mayhem (Low/Med. Difficulty)</option>
                      <option name="Tues 8th - Session 2 - 20:30-22:30 UTC - CSI: Strangehold (Medium Difficulty)"<% if @registration && @registration.roomslot && @registration.roomslot =='Tues 8th - Session 2 - 20:30-22:30 UTC - CSI: Strangehold (Medium Difficulty)'%> selected<% end %>>Tues 8th - Session 2 - 20:30-22:30 UTC - CSI: Strangehold (Medium Difficulty)</option>
                      <option name="Wed 9th - Session 1 - 06:30-08:30 UTC - Sherlock Holmes (Medium Difficulty)"<% if @registration && @registration.roomslot && @registration.roomslot =='Wed 9th - Session 1 - 06:30-08:30 UTC - Sherlock Holmes (Medium Difficulty)'%> selected<% end %>>Wed 9th - Session 1 - 06:30-08:30 UTC - Sherlock Holmes (Medium Difficulty)</option>
                      <option name="Wed 9th - Session 2 - 20:30-22:30 UTC - CSI: Mafia Murders (Medium Difficulty)"<% if @registration && @registration.roomslot && @registration.roomslot =='Wed 9th - Session 2 - 20:30-22:30 UTC - CSI: Mafia Murders (Medium Difficulty)'%> selected<% end %>>Wed 9th - Session 2 - 20:30-22:30 UTC - CSI: Mafia Murders (Medium Difficulty)</option>
                    </select>
                  </div>
                <% else %>
                  <% if @event.slug == 'kdab2020' %>
                    <div class="form-group">
                        <label for="location">First Name</label>
                        <input class="form-control" id="firstname" name="firstname" <% if @registration && @registration.firstname %>value="<%= @registration.firstname.gsub(/\"*\]*\[*/, '') %>"<% end %>/>
                    </div>
                    <div class="form-group">
                        <label for="surname">Surname</label>
                        <input class="form-control" id="surname" name="surname" <% if @registration && @registration.surname %>value="<%= @registration.surname.gsub(/\"*\]*\[*/, '') %>"<% end %>/>
                    </div>
                    <% end %>
                    <div class="form-group">
                        <label for="location">Where do you live?</label>
                        <select class="form-control" id="location" name="location">
                            <option name="----------------------">----------------------</option>
                            <% COUNTRIES.each do |country| %>
                                <option name="<%= country %>"<% if @registration && @registration.location && @registration.location.gsub(/\"*\]*\[*/, '') == country %> selected<% end %>><%= country %></option>
                            <% end %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="role">How would you describe your current involvement with KDE?</label><br />
                        <hint>Please select any that apply</hint><br />
                        <% ROLES.each do |role| %>
                            <input type="checkbox" id="role[<%= role %>]" name="roles[<%= role %>]" value="<%= role %>" <% if @roles.include?(role) %>checked<% end %>>
                            <label for="roles[<%= role %>]"><%= role %></label>
                        <% end %>
                    </div>
                    <div class="form-group">
                        <label for="pronoun">Preferred Pronoun</label><br />
                        <select class="form-control" id="pronoun" name="pronoun">
                            <option name="----------------------">
                            <% PRONOUNS.each do |pronoun| %>
                                <option name="<%= pronoun %>"<% if @registration && @registration.pronoun && @registration.pronoun.gsub(/\"*\]*\[*\\* */, '').gsub(' ', '') == pronoun.gsub(' ', '') %> selected<% end %>><%= pronoun %></option>
                            <% end %>
                        </select>
                    </div>
                    <% if @event.slug == 'kdab2020' %>
                    <div class="form-group">
                        <label for="company">Company</label>
                        <input class="form-control" id="company" name="company" <% if @registration && @registration.company %>value="<%= @registration.company.gsub(/\"*\]*\[*/, '') %>"<% end %>/>
                    </div>
                    <% end %>
                    <% if @event.slug == 'akademy2020' %>
                    <div class="form-group">
                        <label for="photoconsent">Do you consent to having your name listed in the Group Photo tied to the photo you provided?</label>
                        <br />
                        <input type="checkbox" id="photoconsent" name="photoconsent" <% if @registration && @registration.photoconsent && @registration.photoconsent == 1 %>checked<% end %> />
                    </div>
                    <div class="form-group">
                        <label for="photoname">How would you like your name to appear? This is normally "fullname (nick)", you may for instance want to limit this to your firstname and initial with nick or just your nick.</label>
                        <input class="form-control" id="photoname" name="photoname" <% if @registration && @registration.photoname %>value="<%= @registration.photoname.gsub(/\"*\]*\[*/, '') %>"<% end %>/>
                    </div>
                    <div class="form-group">
                        <label for="photonumber">Which numeber is your photo in the group photo <a href="https://devel-home.kde.org/~duffus/akademy/2020/groupphoto/" target="_blank">https://devel-home.kde.org/~duffus/akademy/2020/groupphoto/</a></label>
                        <input class="form-control" id="photonumber" name="photonumber" <% if @registration && @registration.photonumber %>value="<%= @registration.photonumber.gsub(/\"*\]*\[*/, '') %>"<% end %>/>
                    </div>
                    <% end %>
                    <% if @event.slug == 'postakademy2020' %>
                    <div class="form-group">
                        <label for="secondescape">I would like to participate in the virtual escape room.</label>
                        <br />
                        <input type="checkbox" id="secondescape" name="secondescape" <% if @registration && @registration.secondescape && @registration.secondescape == 1 %>checked<% end %> />
                    </div>
                    <% end %>
                <% end %>
                <button class="btn btn-primary">Register for <%= @event.name %></a>
            </form>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="<%= @event.image %>" alt="<%= @event.name %>" />
                <div class="card-body">
                    <h1><%= @event.name %></h1>
                    <p><%= @event.description.gsub(/\n/, '<br />').html_safe %></p>
                </div>
            </div>
        </div>
    </div>

  </div>
</div>
