<div class="sessions pb-5">
  <div class="container pt-6">

    <div class="row">
        <div class="col-12">
            <h1>Event Information for <%= @event.name %></h1>
            <% if @event.start_date %>       
              <h6><%= @event.start_date %> - <%= @event.end_date %></h6>
            <% end %>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <% if @event.info %>
                <%= @event.info.gsub(/\n/, '<br />').html_safe %>
            <% end %>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="<%= @event.image %>" alt="<%= @event.name %>" />
                <div class="card-body">
                    <h1><%= @event.name %></h1>
                    <p><%= @event.description.gsub(/\n/, '<br />').html_safe %></p>
                </div>
            </div>
        </div>
    </div>

  </div>
</div>
