<div class="sessions pb-5">
  <div class="container pt-6">

    <% if @alert %>
      <div class="alert alert-success" role="alert"><%= @alert %></div>
    <% end %>

    <div class="col-12">
      <p class="subtitle">Upcoming Events</p>
    </div>

    <div class="container">
      <div class="row">
        <% if @activeconferences.count == 0 %>
          <div class="col-md-12">
            <p>There are currently no upcoming events</p>
          </div>
        <% end %>
        <% @activeconferences.each do |event| %>
          <div class="col-md-4">
            <div class="card">
              <div class="card-img-top" style="height: 125px; background-image: url('<%= event.image %>'); background-size: cover; background-position: center;" alt="<%= event.name %>"></div>
                <div class="card-body">
                  <h5 class="card-title"><%= event.name %></h5>
                  <% if event.start_date %>
                    <h6><%= event.start_date %> - <%= event.end_date %></h6>
                  <% end %>
                  <hr />
                  <p class="card-text"><%= event.description.gsub(/\n/, '<br />').html_safe %></p>
                  <% if @registrations[event.id] %>
                    <a href="/b/register/<%= event.slug %>" class="btn btn-primary">Update Registration for <%= event.name %></a>
                    <% if event.info && event.info.length > 2 %>
                      <br /><br />
                      <a href="/b/eventinfo/<%= event.slug %>" class="btn btn-primary">Event Information</a>
                    <% end %>
                  <% else %>
                    <a href="/b/register/<%= event.slug %>" class="btn btn-primary">Register for <%= event.name %></a>
                  <% end %>
                  <br />
                  <% if @conferenceadmin[event.id] %>
                    <br />
                    <a href="/b/registeradmin/<%= event.slug %>" class="btn btn-primary">Registration Statistics / Administration</a>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
